@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --color-brand-primary: #065f8b;
  --color-brand-secondary: #53b57c;

  --color-background-default: #d9d9d9;
  --color-background-card-highlight: #fbf9c5;
  --color-background-card-default: #ffffff;

  --color-text-primary: #1e1e1e;
  --color-text-secondary: #ffffff;
  --color-text-muted: #6c757d;
  --color-text-link: #065f8b;

  --color-status-success: #28a745;
  --color-status-danger: #dc3545;
  --color-status-warning: #ff9500;
  --color-status-neutral: #cacad8;
  --color-text-neutral: #494965;

  --color-button-primary: #0d6efd;
  --color-button-warning: #ffc107;
  --color-border-default: #818181;
  --color-border-subtle: #ced4da;

  --color-tag1: #FFFCB3;
  --color-tag1-darker: #807a00;

  --color-tag2: #CCB3FF;
  --color-tag2-darker: #620080;

  --color-tag3: #87B1FF;
  --color-tag3-darker: #005580;

  --header-height: 7.5rem;
  --side-bar-width: 6.25rem;
  --nav-width: 68px;
  --white-color: #ffffff;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--color-background-default);
}
