@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {

  --color-brand-primary: #065F8B;   
  --color-brand-secondary: #53B57C;

  --color-background-default: #E2E2E2;
  --color-background-card-highlight: #FBF9C5; 
  --color-background-card-default: #FFFFFF; 

  --color-text-primary: #1E1E1E;   
  --color-text-secondary: #FFFFFF;
  --color-text-muted: #6C757D;     
  --color-text-link: #065F8B;       

  --color-status-success: #28A745;       
  --color-status-danger: #DC3545;       
  --color-status-warning: #FF9500;       
  --color-status-neutral: #9A9AB6;       

  --color-button-primary: #0D6EFD;     
  --color-button-warning: #FFC107;      
  --color-border-default: #818181; 
  --color-border-subtle: #CED4DA; 


  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #065F8B;
  --first-color-light: #AFA5D9;
  --white-color: #ffffff;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

 body {
    overflow-x: hidden;
}

 