:root {

  --color-brand-primary: #065F8B;   
  --color-brand-secondary: #53B57C;

  --color-background-default: #E2E2E2;
  --color-background-card-highlight: #FBF9C5; 
  --color-background-card-default: #FFFFFF; 

  --color-text-primary: #1E1E1E;   
  --color-text-secondary: #FFFFFF;
  --color-text-muted: #6C757D;     
  --color-text-link: #065F8B;       

  --color-status-success: #28A745;       
  --color-status-danger: #DC3545;       
  --color-status-warning: #FF9500;       
  --color-status-neutral: #9A9AB6;       

  --color-button-primary: #0D6EFD;     
  --color-button-warning: #FFC107;      
  --color-border-default: #818181; 
  --color-border-subtle: #CED4DA; 
}

 