/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background-general: #E2E2E2;
  --text-color-primary: #1E1E1E;
  --text-color-secondary: #fff;
  --text-color-submenu: #6C757D;
  --text-color-submenu-hover: #065F8B;
  --ft-color-blue: #065F8B;
  --ft-color-green: #53B57C;
  --status-color-sucess: #28A745;
  --status-color-unsuccessful: #DC3545;
  --status-color-await: #FF9500;
  --status-color-done: #9A9AB6;
  --border-color: #818181;
  --coordenator-statistics-card-btn: #FFC107;
  --orientation-card-background: #FBF9C5;
  --filter-btn: #0D6EFD;
} 

 